* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  background: linear-gradient(135deg, #2e2e2e, #000000, #2e2e2e, #000000);
  background-size: 400% 100%;
  animation: moveColors 4s infinite linear;
}

title1 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 54px;
  color: white;
  text-align: left;
  direction: ltr;
}

title2 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  color: white;
  text-align: left;
  direction: ltr;
}

h1 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 54px;
  color: lawngreen;
  text-align: left;
  direction: ltr;
}

h2 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  color: #58c2ff;
  text-align: left;
  direction: ltr;
}

h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  color: violet;
  text-align: left;
  direction: ltr;
}

p {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  direction: ltr;
  text-align: left;
}

sp {
  font-size: 16px;
  color: turquoise;
  direction: ltr;
  text-align: left;
}

strong {
  text-align: left;
  direction: lrtr;
  color: tan;
}

ul {
  list-style-type: disc;
  padding-right: 5%;
}

li {
  font-size: 24px;
  margin-bottom: 50px;
  padding-right: 15px;
  direction: ltr;
  text-align: left;
  color: white;
}

ol {
  padding-right: 5%;
}

span {
  font-size: 12px;
}

a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.body-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4568DC;
  background: transparent;
}

.container {
  background-color: #1a3252;
  border-radius: 50px;
  box-shadow: 0 50px 100px #00000040, 0 50px 50px #00000038;
  position: relative;
  overflow: hidden;
  width: 50%;
  max-width: 900%;
  min-height: 50%;
}

.content-body-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  background: #4568DC;
  background: transparent;
}

.content-container {
  background-color: #45494e;
  border-radius: 50px;
  box-shadow: 0 50px 100px #00000040, 0 50px 50px #00000038;
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 40px 40px;
  text-align: center;
  height: 100%;
  margin-bottom: 50px;
}

.overlay {
  background: linear-gradient(135deg, #b33939, #571c1c, #b33939, #571c1c);
  background-size: 400% 100%;
  animation: moveColors 4s infinite linear;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes moveColors {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  border: 2px solid #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: tan;
}
